<app-header></app-header>

<div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error! </strong> {{ errorMessage }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<div class="mt-4 container">

  <div class="row">

    <div class="card p-5">
      <h2>Messages</h2>

      <div class="col-xl-12 col-lg-12" *ngFor="let message of getMessage()">

        <div class="card-deck">

          <div class="card-body">
            <h5 class="card-title col-xl-2 col-lg-2 p-1">{{message.group.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted col-xl-2 col-lg-2 p-1">{{message.sentAt | date}}</h6>
            <div class="card-text col-xl-6 col-lg-6 p-1">{{getText(message)}}</div>
            <div class="card-buttons col-xl-2 col-lg-2 p-1">
              <div class="btn-group">
                <a class="btn btn-info btn-sm responsive-info-button"
                   aria-label="Accept GroupOverview Invation">
                  <i class="bi bi-info-lg">accept</i>
                </a>
                <a class="btn btn-danger btn-sm responsive-danger-button"
                   aria-label="Decline GroupOverview Invitaion">
                  <i class="bi bi-trash">decline</i>
                </a>
              </div>
            </div>
          </div>

          <div [ngClass]="['modal', 'fade', 'message-modal-'+message.id]" tabindex="-1" role="dialog"
               aria-labelledby="Message details modal"
               aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">{{message.group.name}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p class="lead"><span class="font-italic">{{message.sentAt | date}}</span> {{getText(message)}}</p>
                  <p class="mt-2"> {{getText(message)}} </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>


  </div>

</div>

