<app-header></app-header>

<div class="custom-container">

    <p>Search for ingredients</p>
    
    <form class="d-flex flex-row w-auto mb-3">
        <button type="submit" hidden="hidden">submit</button>
        <div class="flex-grow-1">
            <label for="searchName" class="label-name col-form-label">
                Name
            </label>
            <mat-form-field class = "search-field">
                <mat-icon matPrefix>search</mat-icon>
                <input
                  matInput
                  type="text"
                  id="searchName"
                  name="searchName"
                  [(ngModel)]="nameOfIngredient"
                  (ngModelChange)="searchChanged()"
                  placeholder="Search for Ingredients"
                /> 
              </mat-form-field>
        </div>
      </form>
    <br><br>  
    <div class="label-table" *ngIf = "ingredients?.length > 0">
      <p>{{ingredients.length}} Result</p>
      <table class="table-hover" >
        <tbody>
          <tr *ngFor="let ingredient of ingredients" class="center-td">
            <th class="th-style" 
            [style.background]="selectedIngredient === ingredient.name ? '#D9D9D9' : 'F5F5F5'"
            (click)="showImage(ingredient.name)">
            {{ingredient.name}}</th>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="additional-div" >
      <figure class="figure-style" *ngIf="isToShowImg">
        <img [src]="imageUrl" >
        <figcaption class="image-name">{{imageName}}</figcaption>
      </figure>      
    </div>
</div>