<app-header></app-header>

<div class="grid-container">

  <div class="left-container col-lg-9 col-md-9 col-sm-9 col-9">
       
    <div class="header-left-container">
      <h2> Search for Cocktails </h2>
    </div>

    <div class="flex-container">

    <div class="search-container">
         <label class="label-search-name">
             Name
         </label>
          <!-- Suchfeld für Name -->
          <div class="wrapper-name col-md-6 col-lg-6">
            <input matInput
                   type="text"
                   id="searchName"
                   name="searchName"
                   placeholder="Search for Cocktails"
                   class="form-control"
                   [(ngModel)]="nameOfCocktail"
                   (ngModelChange)="searchChanged()"
                   #groupNameModel="ngModel"
                   required
                   autofocus
            >
    </div>
    </div>
    

   <div class="search-container">
        <label class="label-search-ing">
          Ingredients
        </label>
            <!-- Suchfeld für Zutaten -->
      <div class="wrapper-ingredients col-md-6 col-lg-6">
        <input matInput
               type="text"
               id="searchName"
               name="searchName"
               placeholder="Search for Ingredients"
               class="form-control"
               [(ngModel)]="nameOfIngredient"
               (ngModelChange)="searchChanged()"
               #groupNameModel="ngModel"
               required
               autofocus
        >
      </div>
   </div>

    </div>

     <br><br>  
     
     <div class="label-table" *ngIf = "cocktails?.length > 0">
       <p class="result-style"> &nbsp;&nbsp;&nbsp;{{cocktails.length}} Result</p>
       <table >
         <tbody>
           <tr *ngFor="let cocktail of cocktails" [style.background]="selectedCocktail === cocktail.name ? '#D9D9D9' : '#ECECEC'">
             <td class="td-style" 
             (click)="showImage(cocktail.name)">
             {{cocktail.name}}</td>
           </tr>
         </tbody>
       </table>
    </div>

   </div>

  <div class="right-container col-lg-3 col-md-3 col-sm-3 col-3" >
    <figure *ngIf="isToShowImg">
      <img class="image-style" [src]="imageUrl" >
      <figcaption class="image-name">{{imageName}}</figcaption>
    </figure>   
    <br> <br>
    <div class="info-ing-container" *ngIf="isToShowImg">
      <p class="info-ing">Ingredients:</p>
      <ul class="info-ings">
        <li *ngFor="let ingredient of cocktailIngredients">{{ ingredient }}</li>
      </ul>  
    </div>
  </div>

</div>