<form #form="ngForm" [class.was-validated]="form.submitted" (ngSubmit)="onSubmit(form)" class="create-modal m-5">
  <div class="row">
    <div class="mb-2 col-lg-6">
      <div class="row">
        <label class="p-1" for="cocktailName">Name</label>

        <div class="col-md-10 col-lg-8"
        >
          <input type="text"
                 id="cocktailName"
                 name="cocktailName"
                 placeholder="Cocktail name"
                 class="form-control"
                 [class]="dynamicCssClassesForInput(horseNameModel)"
                 [(ngModel)]="cocktail.name"
                 #horseNameModel="ngModel"
                 required
          >
          <div class="invalid-feedback">
            <!-- This is shown, when the form validation deems the name input to be invalid -->
            Name is required
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <label class="p-1" for="ingredientSelection">Ingredients</label>
    <!-- Search-field for Ingredients -->
    <div class="">
      <app-autocomplete #ingredientAutocomplete
                        id="ingredientSelection"
                        name="ingredientsSelection"
                        textInputClass="form-control"
                        [placeholderText]="'Search for Ingredients'"
                        [suggestions]="ingredientSuggestions"
                        [formatModel]="formatIngredient"
                        valueNeedsToMatchSuggestion="true"
                        [(ngModel)]="ingredient"
                        (ngModelChange)="addIngredient()"
      >
      </app-autocomplete>

      <!-- Selected Ingredients -->
      <table class="table ">
        <thead>
        <tr>
          <th>Ingredient</th>
          <th>Amount</th>
        </thead>
        <tbody>
        <tr *ngFor="let selected of selectedIngredientsMap | keyvalue; index as i" class=" w-full border-b py-2">
          <td>{{ selected.value.name }}</td>
          <td class="d-flex flex-row">
            <input type="number" style="max-width: 20%" [(ngModel)]="selected.value.amount" [ngModelOptions]="{standalone: true}"/>
            <select class="form-select m-1" id=i [(ngModel)]="selected.value.measure" [ngModelOptions]="{standalone: true}">
              <option value="parts">parts</option>
              <option value="cl">cl</option>
              <option value="oz">oz</option>
              <option value="dash">dash</option>
              <option value="tsp">tsp</option>
              <option value="fill">fill</option>
            </select>
          </td>
          <td>
            <i class="bi bi-dash-circle remove-item" (click)="removeIngredient(selected.key)"></i>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div class="mt-4 d-flex flex-row">
    <!--<button type="button"
            class="btn btn-danger"
            *ngIf="!modeIsCreate"
            (click)=""
    >
      <i class="bi bi-trash"
      ></i>
      Delete
    </button>-->
    <span class="flex-grow-1"></span>
    <button type="submit"
            class="btn btn-primary"
            [disabled]="!form.valid"
    >
      Create
    </button>
  </div>
</form>
