<mat-dialog-content class="grid-container">
  <div>
    <h3 class="modal-title">Ingredient Suggestions</h3>
  </div>


  <div class="content-grid">

    <div class="table-column">
      <div class="table-container">
        <p class="entry-count">our suggestions</p>
        <table class="table align-baseline equal-columns">
          <tbody>
          <tr class="list-row" *ngFor="let ingredient of ingredients; index as i">

            <td class="ingredient-row">{{ingredient.name}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="cocktail-column">
      <div class="cocktail-container">
        <div class="cocktail-container-grid">
        <div *ngFor="let cocktail of currentIngredientCocktails; index as i" class="mb-3 cocktail-item">
          <div class="card h-100">
            <div class="container-fluid card-header">{{ cocktail.name }}</div>
            <div class="card-body">
              <img ngSrc="{{ cocktail.imagePath }}" class="img-fluid" alt="Responsive image">
            </div>
          </div>
        </div>
        </div>
        <mat-dialog-actions class="mt-4 d-flex justify-content-between">
          <button mat-button [mat-dialog-close]="true" class="btn rounded-button"
                  cdkFocusInitial>Add
          </button>
        </mat-dialog-actions>
      </div>
    </div>

  </div>

</mat-dialog-content>
