<mat-dialog-content>
  <div class="grid-item">
    <div>
      <h3 class="modal-title">Ingredient Suggestions</h3>
    </div>


    <div class="form-grid">

      <div class="table-column">
        <div class="table-container">
          <p class="entry-count">our suggestions</p>
          <table class="table align-baseline equal-columns">
            <tbody>
            <tr class="list-row" *ngFor="let ingredient of ingredients; index as i">

              <td class="member-column">{{ingredient}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="cocktail-column">

        <div *ngFor="let cocktail of cocktails" class="mb-3 col-xxl-2 col-lg-3 col-md-6 col-sm-12">
          <div class="card h-100">
            <div class="container-fluid card-header">{{ cocktail.name }}</div>
            <div class="card-body">
              <img src="{{ cocktail.imagePath }}" class="img-fluid" alt="Responsive image">
            </div>
          </div>
        </div>

        <mat-dialog-actions class="mt-4 d-flex justify-content-between">
          <button mat-button [mat-dialog-close]="true" class="btn btn-danger"
                  [style.background-color]="backgroundColor"
                  cdkFocusInitial>Add
          </button>
        </mat-dialog-actions>
      </div>

    </div>
  </div>

</mat-dialog-content>
