
// header:
.grid-container > div:first-child {
  background-color: #AC6AFE;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 15px 15px 0 0;
}

.grid-container {
 padding: 0;
}


// a grid layout to display the content of the ingredient dialog
.content-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 5%;
  padding: 0;
}

// grid column to display list of ingredients in
.table-column {
  display: flex;
  justify-content: center;
}

// list of ingredients:
.table-container {
  max-height: 500px; /* Set a fixed height for the container */
  min-height: 200px;
  background-color: white;
  overflow-y: auto; /* Enable vertical scrolling when content exceeds height */
  border: 1px solid #ccc; /* Optional: Add a border for the container */
  padding: 10px; /* Optional: Add padding for the container */
  border-radius: 15px; /* Rounded corners */
  margin-bottom: 20px;
  margin-top: 20px;
  width: 90%;
}

.cocktail-column {
  display: flex;
  justify-content: center;
}

.cocktail-container {
  max-height: 500px; /* Set a fixed height for the container */
  background-color: white;
  overflow-y: auto; /* Enable vertical scrolling when content exceeds height */
  border: 1px solid #ccc; /* Optional: Add a border for the container */
  padding: 10px; /* Optional: Add padding for the container */
  border-radius: 15px; /* Rounded corners */
  margin-bottom: 20px;
  margin-top: 20px;
  width: 90%;


}
.cocktail-container-grid {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  gap: 2px;
}



.list-row {
  border-bottom: 1px solid #ccc;
}

.entry-count {
  margin-bottom: 0;
  border-bottom: 1px solid #ccc;
  color: grey;
}

.custom-button{
  margin-bottom: 20px;
  margin-right: 20px;
  background-color: #6200EE;
  border-color: #6200EE;
}

.table-element {
  vertical-align: middle; /* Align elements vertically in the cell */
  text-align: end; /* Optionally center content horizontally */
}

.equal-columns {
  table-layout: fixed;
  width: 100%;
}

// a ingredient row in the list of ingredients
.ingredient-row {
  width: 50%; /* Set an equal width for both columns */
  height: 55px;
  display: flex;
  align-items: center; /* Vertically center content */
  border-bottom: white;
  margin-left: 20px;

}

.rounded-button {
  background-color: #AC6AFE;
  color: #fff;
  border: none;
  cursor: pointer;
  padding-bottom: 0;
  padding-top: 0;
  height: 36px;
}
.btn.rounded-button:active {
  background-color: white; /* Set background color to transparent */
  box-shadow: none;
}


.card-header{
  color: white;
  background-color: #AC6AFE;
  transition-duration: 0.25s;
}

.card:hover .card-header{
  color: white;
  background-color: #6200EE;
}

.card{
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
  margin: 0.25rem;
  margin-bottom: 1rem;
  padding: 0;
}

.card:hover{
  cursor: pointer;
}
