<div class="login-wrapper">
  <div class="purple-rectangle">
    <img src="assets/images/logo.png" class="logo" alt="Logo">
    <div class="centered-text">
      <p>This is a placeholder for an description or quot.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Sed ut tellus ac velit feugiat blandit. Nulla facilisi.
        Phasellus id condimentum elit. Integer quis massa sed ex tincidunt sollicitudin.
        Vestibulum a nunc ut justo lobortis tristique a id ex.
        Proin ultrices odio id eros dapibus, eget suscipit metus commodo.
        Mauris vel lacinia arcu. </p>
    </div>
  </div>

  <div class="pt-0 content-wrapper">
    <div class="row">
      <div class="col-md-12 mx-auto">
        <span class="anchor"></span>
        <div class="card rounded-0">
          <div class="card-header header-forgotPassword">
            <p class="mb-0">Forgot Password</p>
          </div>

          <div class="card-body">
            <form class="form">
              <div class="form-group email-field">
                <input type="email" name="email" [(ngModel)]="email" class="form-control custom-input-field" id="inputEmail"
                       aria-describedby="emailHelp" placeholder="Your Email">
              </div>

              <button type="button" (click)="onSubmit()" class="btn btn-success btn-purple-width">Forgot Password</button>

              <div>
                <a routerLink="/login" class="btn btn-link signIn-text">You know your Password? Sign in</a>
              </div>

              <div>
                <a routerLink="/reset-password" class="btn btn-link signIn-text">this is a test! go to reset password</a>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
