.register-wrapper {
  display: flex;
}

.purple-rectangle {
  height: 100vh;
  width: calc(33.33vw - 25px);
  background-color: #6200EE;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  top: max(1vw, 10px);
  left: max(1vw, 10px);
  width: 20%;
  height: auto;
  max-width: 200px;
  min-width: 80px;
  border-radius: 50%;
}

.centered-text {
  text-align: left;
  color: white;

  font-size: max(1.1vw, 14px);
  margin: 3vw 3vw;
}

.content-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
}

.header-login {
  text-align: center;
  background-color: #ECECEC;
  font-size: 45px;
  font-weight: bold;
  border: none;
}

.card {
  background-color: #ECECEC;
  border: none;
  align-items: center;
}

.username-field {
  margin-bottom: 10px;
}

.email-field {
  margin-bottom: 10px;
}

.password-field {
  margin-bottom: 20px;
}

.custom-text-warning {
  color: #6200EE;
}

.signIn-text {
  color: #6200EE;
  padding: 6px 0;
}

.btn-purple-width {
  width: 400px;
  height: 50px;
  background-color: #6200EE;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 25px;
}

.custom-input-field {
  width: 400px;
  height: 50px;
}
