<app-header></app-header>

<div class="grid-container">

    <div class="left-container ol-lg-3 col-md-3 col-sm-3 col-3">
      <div class="header-left-container">
        <h2>Your account</h2>
      </div>
      <ul class="menu">
        <li>
          <button type="button"
                  (click)="setMode('AccountSettings')"
                  [class.active]="currentMode === Modes.AccountSettings"
                  class="menu-item">Account Settings</button>
        </li>
        <li>
          <button type="button"
                  (click)="setMode(Modes.Ingredients)"
                  [class.active]="currentMode === Modes.Ingredients"
                  class="menu-item">Your Ingredients</button>
        </li>
        <li>
          <button type="button"
                  (click)="setMode(Modes.Preferences)"
                  [class.active]="currentMode === Modes.Preferences"
                  class="menu-item">Your Preferences</button>
        </li>
      </ul>


    </div>
    <div *ngIf="currentMode === Modes.AccountSettings" class="middle-container col-lg-4 col-md-4 col-sm-4 col-4">
      <div class="icon-user">
        <i class="bi bi-person-circle custom-circle"></i>
      </div>
      <div class="user-details">
        <div class="user-detail-box">
          <label>Username:</label>
          <div class="user-detail-text">MaxMustermann</div>
        </div>
        <div class="user-detail-box">
          <label>Email:</label>
          <div class="user-detail-text">MaxMustermann@email.com</div>
        </div>
      </div>

      <div class="button-box">
        <button type="button" (click)="logout()" class="btn btn-primary logout-btn">Sign out</button>
        <div class="spacer"></div> <!-- Empty div to create space -->
        <button type="button" class="btn btn-primary delete-account-btn">Delete Account</button>
      </div>


    </div>
    <div *ngIf="currentMode === Modes.Ingredients" class="middle-container col-lg-4 col-md-4 col-sm-4 col-4">
      <p>Ingredients</p>

    </div>
    <div *ngIf="currentMode === Modes.Preferences" class="middle-container col-lg-4 col-md-4 col-sm-4 col-4">
      <p>Preferences</p>
    </div>
    <div class="right-container col-lg-4 col-md-4 col-sm-4 col-4">

    </div>



</div>


