<app-header></app-header>

<div class="grid-container">
  <div class="grid-item-1">
    <div>
      <h3>Members</h3>
    </div>
    <div class="row">
      <div class="d-flex input-container">
        <div>
          <app-autocomplete
            name="memberSelection"
            textInputClass="form-control"
            [suggestions]="memberSuggestions"
            [formatModel]="formatMember"
            valueNeedsToMatchSuggestion="true"
            [(ngModel)]="user"
          >
          </app-autocomplete>
        </div>
        <div class="add-member col-lg-2 mb-2">
          <button class="btn btn-primary rounded-button" (click)="createMessage(this.user.id)">+</button>
        </div>
      </div>
    </div>
    <div class="members-list">
      <div *ngFor="let member of group.members" class="member-item">
          <div class="list-name">{{ member.name }}</div>
          <div class="list-action"><button class="btn btn-light" (click)="onDelete(member.id)">...</button></div>
      </div>

    </div>
  </div>
  <div class="grid-item-2">
    <div>
      <h3>Menu</h3>
    </div>
  </div>
  <div class="grid-item-3">
    <div>
      <h3>Ingredients</h3>
    </div>
  </div>
</div>
