.card-header{
  color: white;
  background-color: #AC6AFE;
  transition-duration: 0.25s;
}

.card:hover .card-header{
  color: white;
  background-color: #6200EE;
}

.card{
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
  margin: 0.25rem;
  margin-bottom: 1rem;
  padding: 0;
}

.card:hover{
  cursor: pointer;
}

.menu-card{
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
  margin: 0.25rem;
  margin-bottom: 1rem;
  padding: 0;
  background-color: white;
  border-radius: 0.25rem;
}
.menu-header{
  color: white;
  margin: 0;
  text-align: center;
  background-color: #AC6AFE;
  border-radius: 0.25rem 0.25rem 0 0;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.menu-body{
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  height: 70vh;
}

.text-semi-bold{
  font-weight: 500;
  margin: .4rem;
}

.rounded-button {
  position: relative;
  background-color: #AC6AFE;
  color: #fff;
  border: none;
  cursor: pointer;
  padding-bottom: 0;
  padding-top: 0;
  height: 36px;
  margin-top: 2vh;
  margin-left: 10vw;
}
.btn.rounded-button:active {
  background-color: white; /* Set background color to transparent */
  box-shadow: none;
}

.btn-info {
  font-weight: 500;
  position: relative;
  margin-left: 4vw;
  text-align: end;
}

.flex-container {
  margin-left: -1vw;
  display: flex;
  align-items: center;
}

.search-container {
  margin-left: 2vw;
  margin-top: 2vh;
}

.label-search-name {
  margin-left: 0.5vw;
  font-size: 18px;
}

.label-search-ing-pref {
  margin-left: -0.5vw;
  font-size: 18px;
}

.wrapper-name {
  position: relative;
  width: 14vw;
}

.wrapper-ing-pref {
  position: relative;
  width: 12vw;
  margin-top: 0vh;
  margin-left: -1vw;
}
