<app-header></app-header>

<div class="grid-container p-3 ">
  <div class="row">
    <div class="col-md-8">
      <div class="row g-0 menu-card ">
        <div class="menu-header">
          <h2>Mixable Cocktails</h2>
        </div>

        <div class="m-2 d-flex justify-content-sm-between p-3">
          
          <!-- Suchfelder für Cocktails -->
    
        <div class="flex-container">
    
          <div class="search-container">
               <label class="label-search-name">
                   Name
               </label>
                <!-- Suchfeld für Name -->
                <div class="wrapper-name col-md-6 col-lg-6">
                  <input matInput
                         type="text"
                         id="searchName"
                         name="searchName"
                         placeholder="Search for Cocktail Name"
                         class="form-control"
                         required
                         autofocus
                  >
          </div>
          </div>
          
      
         <div class="search-container">
              <label class="label-search-ing-pref">
                Ingredients
              </label>
                  <!-- Suchfeld für Zutaten -->
            <div class="wrapper-ing-pref col-md-6 col-lg-6">
              <input matInput
                     type="text"
                     id="searchName"
                     name="searchName"
                     placeholder="Search for Ingredient"
                     class="form-control"
                     required
                     autofocus
              >
            </div>
         </div>
      
      
         <div class="search-container">
          <label class="label-search-ing-pref">
            Preferences
          </label>
              <!-- Suchfeld für Präferenzen -->
        <div class="wrapper-ing-pref col-md-6 col-lg-6">
          <input matInput
                 type="text"
                 id="searchName"
                 name="searchName"
                 placeholder="Search for Preference"
                 class="form-control"
                 required
                 autofocus
          >
        </div>
      </div>

          <div class="align-items-center justify-content-end">
            <label class="btn-info">
              Not satisfied with the possible cocktails?
            </label>
            <button class="btn rounded-button" (click)="openAddIngredientModal()">
              <i class="bi bi-bag-plus-fill"></i>
              Add new Ingredients
            </button>
          </div>
        
      </div> 

    </div>

        <div *ngFor="let cocktail of cocktails" class="mb-3 col-xxl-2 col-lg-3 col-md-6 col-sm-12">
          <div class="card h-100">
            <div class="container-fluid card-header">{{ cocktail.name }}</div>
            <div class="card-body">
              <img src="{{ cocktail.imagePath }}" class="img-fluid" alt="Responsive image">
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-4">
      <div class="menu-card">
        <div clasS="menu-header">
          <h2>Selected Menu</h2>
        </div>
        <div class="card-body">
          <div class="menu-body d-flex align-items-center justify-content-center">
            <h5> this is where selected cocktails will go</h5>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
